In [26]:
import nltk
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('averaged_perceptron_tagger')
nltk.download('wordnet')
nltk.download('omw-1.4')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

True

In [27]:
text= '''Tokenization is the first step in text analytics. The
process of breaking down a text paragraph into smaller chunks
such as words or sentences is called Tokenization.'''

In [28]:
from nltk.tokenize import sent_tokenize
st = sent_tokenize(text)
print(st)

from nltk.tokenize import word_tokenize
wt = word_tokenize(text)
print(wt)

['Tokenization is the first step in text analytics.', 'The\nprocess of breaking down a text paragraph into smaller chunks\nsuch as words or sentences is called Tokenization.']
['Tokenization', 'is', 'the', 'first', 'step', 'in', 'text', 'analytics', '.', 'The', 'process', 'of', 'breaking', 'down', 'a', 'text', 'paragraph', 'into', 'smaller', 'chunks', 'such', 'as', 'words', 'or', 'sentences', 'is', 'called', 'Tokenization', '.']

In [29]:
from nltk.corpus import stopwords
import re

stop_words = set(stopwords.words("english"))
print("List of stop words : ",stop_words)

List of stop words :  {'this', 'between', 'with', 'a', 'under', "she's", 'about', 'them', 'if', "don't", 'on', 'there', 'being', "that'll", 'themselves', 'into', 'she', 're', "won't", 'its', 'doesn', 't', 'm', 'up', 'was', 'as', 'mightn', 'why', 'he', 'don', 'weren', 'only', 'our', 'both', 'has', 'do', 'not', 'should', 'yourselves', "couldn't", 'when', 'be', 'now', 'shan', "shan't", 'it', 'yourself', 'than', 'y', 'what', 'because', 'haven', 'such', 'during', 'how', 'further', 'ain', 'where', 'mustn', 'same', "should've", 'is', 'will', 'any', 've', 'o', "you'll", 'all', 'so', "aren't", 'you', 'll', 'having', 'needn', 'at', "mightn't", 'of', 'for', 'once', 'no', 'down', "isn't", 'nor', 'theirs', 'whom', 'those', 'or', 'before', 'each', 'more', 'other', 'their', 'until', 'over', 'are', 'myself', 'they', "it's", "wasn't", "you'd", 'that', 'by', 'an', 'while', 'couldn', 'am', 'in', "haven't", 'had', 'been', "hasn't", 'didn', 'wouldn', 'through', 'your', 'here', 'very', 'my', 'just', 'herself', 'me', "mustn't", 'who', 'shouldn', 'below', 'd', 'from', 'his', 'ours', 'some', 'hasn', 'again', 'we', 'wasn', 'did', 'and', 'then', 'yours', 'himself', 'too', "weren't", "you're", 'her', 's', 'were', 'against', 'the', "didn't", "wouldn't", 'itself', 'after', 'him', 'out', "shouldn't", 'few', 'own', "you've", 'won', "doesn't", 'which', 'to', 'hadn', 'above', 'hers', 'off', 'i', 'can', 'ma', 'aren', 'have', 'these', 'doing', 'isn', 'does', "needn't", 'ourselves', 'most', "hadn't", 'but'}

In [30]:
text = "How to remove stop words with nltk library in Python?"
text = re.sub('[^a-zA-z]',' ',text)

tokens = word_tokenize(text)
ft = []
for w in tokens:
  if w not in stop_words:
    ft.append(w)

print("Tokenized list : ",tokens)
print("Formatted list : ",ft)

Tokenized list :  ['How', 'to', 'remove', 'stop', 'words', 'with', 'nltk', 'library', 'in', 'Python']
Formatted list :  ['How', 'remove', 'stop', 'words', 'nltk', 'library', 'Python']

In [34]:
from nltk.stem import PorterStemmer
ps = PorterStemmer()

e_words= ["wait", "waiting", "waited", "waits"]
e_words1= ["cry", "cries", "crying"]

for x in e_words:
  rootword1 = ps.stem(x)
for x in e_words1:
  rootword2 = ps.stem(x)
print(rootword1,rootword2)

wait cri

In [35]:
from nltk.stem import WordNetLemmatizer
lem = WordNetLemmatizer()

text = "studies studying cries cry"
tokenization = nltk.word_tokenize(text)

for w in tokenization:
  print("Lemma for {} is {}".format(w,lem.lemmatize(w)))

Lemma for studies is study
Lemma for studying is studying
Lemma for cries is cry
Lemma for cry is cry

In [36]:
data="The pink sweater fit her perfectly"
words=word_tokenize(data)

for word in words:
  print(nltk.pos_tag([word]))

[('The', 'DT')]
[('pink', 'NN')]
[('sweater', 'NN')]
[('fit', 'NN')]
[('her', 'PRP$')]
[('perfectly', 'RB')]

In [37]:
import math
import pandas as pd

In [38]:
documentA = "Jupiter is the largest planet"
documentB = "Mars is the fourth planet from the Sun"

In [48]:
bagA = documentA.split(' ')
bagB = documentB.split(' ')
uniqueKeys = set(bagA).union(set(bagB))
nowA = dict.fromkeys(uniqueKeys,0)
for x in bagA:
  nowA[x] += 1

nowB = dict.fromkeys(uniqueKeys,0)
for x in bagB:
  nowB[x] += 1

In [49]:
nowA

{'the': 1,
 'fourth': 0,
 'planet': 1,
 'Sun': 0,
 'Jupiter': 1,
 'is': 1,
 'largest': 1,
 'from': 0,
 'Mars': 0}

In [50]:
nowB

{'the': 2,
 'fourth': 1,
 'planet': 1,
 'Sun': 1,
 'Jupiter': 0,
 'is': 1,
 'largest': 0,
 'from': 1,
 'Mars': 1}

In [51]:
def computeTF(dic,N):
  tfDict = {}
  for key,values in dic.items():
    tfDict[key] = values / float(N)
  return tfDict

tfA = computeTF(nowA,len(bagA))
tfB = computeTF(nowB,len(bagB))

In [52]:
tfA

{'the': 0.2,
 'fourth': 0.0,
 'planet': 0.2,
 'Sun': 0.0,
 'Jupiter': 0.2,
 'is': 0.2,
 'largest': 0.2,
 'from': 0.0,
 'Mars': 0.0}

In [53]:
tfB

{'the': 0.25,
 'fourth': 0.125,
 'planet': 0.125,
 'Sun': 0.125,
 'Jupiter': 0.0,
 'is': 0.125,
 'largest': 0.0,
 'from': 0.125,
 'Mars': 0.125}

In [54]:
def computeIDF(documents):
  N = len(documents)
  idfDict = dict.fromkeys(documents[0].keys(),0)
  for doc in documents:
    for k,v in doc.items():
      if v > 0:
        idfDict[k] += 1
  for k,v in idfDict.items():
    idfDict[k] = math.log(N/float(v))
  return idfDict

idf = computeIDF([nowA,nowB])
idf

{'the': 0.0,
 'fourth': 0.6931471805599453,
 'planet': 0.0,
 'Sun': 0.6931471805599453,
 'Jupiter': 0.6931471805599453,
 'is': 0.0,
 'largest': 0.6931471805599453,
 'from': 0.6931471805599453,
 'Mars': 0.6931471805599453}

In [56]:
def computeTFIDF(tfBagOfWords, idfs):
  tfidf = {}
  for word, val in tfBagOfWords.items():
    tfidf[word] = val * idfs[word]
  return tfidf

tfidfA = computeTFIDF(tfA, idf)
tfidfB = computeTFIDF(tfB, idf)

df = pd.DataFrame([tfidfA, tfidfB])
df

,the,fourth,planet,Sun,Jupiter,is,largest,from,Mars
0,0.0,0.000000,0.0,0.000000,0.138629,0.0,0.138629,0.000000,0.000000
1,0.0,0.086643,0.0,0.086643,0.000000,0.0,0.000000,0.086643,0.086643